
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#file{
  display: none;
}

.fancyFile{
  display: inline-block;
  width: 400px;
  height: 100px;
  background-color: hsl(210 11% 20% / 1);
  display: inline-block;
  border: 2px dashed hsl(45 100% 27% / 1);
  border-radius: 5px;
  margin: 0 auto;
}

.fancyButton{
  width: 75%;
  height: 40%;
  margin-top: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.row-aug{
  width: 70%;
}

.nav-text{
  text-decoration: none;
}

.myInput{
  background-color: hsl(210 11% 20% / 1);
  color: white;
}

.container-row{
  width: 50%;
}

.card-link{
  background-color: #473736;
  padding: 5px 5px;
  border-radius: 20px;
}

.copy-link{
  cursor: pointer;
}

.card-btn{
  background-color: hsl(210 11% 23% / 1);
  border: none;
  margin: 0 5px;
  color: #f0ad4e;
}

.react-pdf__Page__canvas{
  width: 100% !important;
  height: 90vh !important;
  border-radius: 10px;
  position: relative;
}

.react-pdf__Page{
  height: 100% !important;
}

.react-pdf__Page__textContent{
  width: 90% !important;
  height: 90% !important;
}

.page-link{
  background-color: #21252918;
}

.paginate-style{
  position: absolute;
  bottom: -5px;
  left: 47%;
}

@media (max-width: 500px) {
  .row-aug{
    width: 100%;
  }

  .container-signin{
    margin-top: 100px;
  }

  .container-row{
    width: 100%;
  }

  .paginate-style{
    position: absolute;
    bottom: -5px;
    left: 35%;
  }
}
